@import "../../styles.scss";
.Landing {
  padding-top: 120px;
}

.Landing__write {
  position: absolute;
  top: 36px;
  right: 50px;
}

.Landing__cardlist {
  display: flex;
  justify-content: center;
  min-height: 792px;
}

.Landing__buttongroup {
  position: absolute;
  top: 80px;
  .Landing__category {
    margin-right: 12px;
    button {
      font-weight: bold;
      background-color: #ddd;
    }
    button:hover {
      transition-duration: 300ms;
      background-color: $pilot-red-light;
    }
  }
}