@import "../../styles.scss";
.Button {
  display: inline-block;
  button {
    font-size: 14px;
    font-weight: bold;
    color: white;
    background-color: $pilot-red-light;
    padding: 8px 16px 8px 16px;
    border-radius: 32px;
  }
}