.CardArray {
  position: relative;
  max-width: 1000px;
  text-align: center;
}

.CardArray__wrapper {
  display: inline-block;
  width: 300px;
  height: 300px;
  margin-right: 12px;
  margin-left: 12px;
  margin-bottom: 24px;
}