.CardArray {
  position: relative;
  max-width: 1100px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.CardArray__wrapper {
  display: inline-block;
  width: 240px;
  height: 320px;
  //margin-right: 12px;
  //margin-left: 12px;
  margin-bottom: 24px;
}