@import "../../styles.scss";

.Card {
  position: relative;
  box-sizing: border-box;
  padding: 15px 15px 15px 15px;

  border-radius: 8px;
  width: 100%;
  height: 100%;

  text-align: end;
}

.Card__background {
  border-radius: 8px;
  background-color: #dfdfdf;
  opacity: 0.3;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
  background-position: center;
  background-size: cover;
  filter: grayscale(100%);
}
.Card__background:hover {
  opacity: 0.5;
  transition-duration: 300ms;
  ///background-color: #ddd;
  filter: grayscale(70%);
}

.Card__contents {
  position: relative;
  display: inline-block;

  .Card__title {
    font-size: 18px;
    font-weight: bold;
    //margin-bottom: 4px;
  }
  .Card__author {
    margin-bottom: 12px;
  }
}

.Card__info {
  position: absolute;
  display: flex;
  justify-content: space-between;
  bottom: 15px;
  left: 15px;
  right: 15px;

  .Card__spoiler {
    font-weight: bold;
    img {
      width: 12px;
      vertical-align: middle;
      padding-bottom: 2px;
      margin-right: 4px;
    }
  }

  .Card__comment {
    font-weight: bold;
    img {
      width: 12px;
      vertical-align: middle;
      padding-bottom: 2px;
      margin-right: 4px;
    }
  }
}
