@import "../../styles.scss";
.WriteButton {
  .WriteButton__button {
    font-size: 14px;
    font-weight: bold;
    color: white;
    //border: 1px solid $pilot-red-deep;
    background-color: $pilot-red-deep;
    padding: 8px 16px 8px 16px;
    border-radius: 32px;
  }
}